# Pandas
Read "10 minutes to Pandas": https://pandas.pydata.org/docs/user_guide/10min.html before solving the exercises.
We will use the data set "cars_data" in the exercises below.

In [ ]:
# Importing Pandas. 
import pandas as pd

### Explain what a CSV file is.

In [ ]:
CSV står för Comma-Separated Values, alltså "kommaseparerade värden". ANvänds ofta även vid importer av data och kan vara mer ön kommaseparerad.

### Load the data set "cars_data" through Pandas.

In [ ]:
# When reading in the data, either you have the data file in the same folder as your python script
# or in a seperate folder.

# Code below can be ran if you have the data file in the same folder as the script
# cars = pd.read_csv("cars_data.csv")

# Code below can be ran if you have the data file in another script. 
# Notice, you must change the path according to where you have the data in your computer. 
# pd.read_csv(r'C:\Users\Antonio Prgomet\Documents\03_nbi_yh\korta_yh_kurser\python_för_ai\kunskapskontroll_1\cars_data.csv')

### Print the first 10 rows of the data.

In [ ]:
cars.head(10)

| index | company     | body-style  | wheel-base | length | engine-type | num-of-cylinders | horsepower | average-mileage | price   |
| ----- | ----------- | ----------- | ---------- | ------ | ----------- | ---------------- | ---------- | --------------- | ------- |
| 0     | alfa-romero | convertible | 88.6       | 168.8  | dohc        | four             | 111        | 21              | 13495.0 |
| 1     | alfa-romero | convertible | 88.6       | 168.8  | dohc        | four             | 111        | 21              | 16500.0 |
| 2     | alfa-romero | hatchback   | 94.5       | 171.2  | ohcv        | six              | 154        | 19              | 16500.0 |
| 3     | audi        | sedan       | 99.8       | 176.6  | ohc         | four             | 102        | 24              | 13950.0 |
| 4     | audi        | sedan       | 99.4       | 176.6  | ohc         | five             | 115        | 18              | 17450.0 |
| 5     | audi        | sedan       | 99.8       | 177.3  | ohc         | five             | 110        | 19              | 15250.0 |
| 6     | audi        | wagon       | 105.8      | 192.7  | ohc         | five             | 110        | 19              | 18920.0 |
| 7     | bmw         | sedan       | 101.2      | 176.8  | ohc         | four             | 101        | 23              | 16430.0 |
| 8     | bmw         | sedan       | 101.2      | 176.8  | ohc         | four             | 101        | 23              | 16925.0 |
| 9     | bmw         | sedan       | 101.2      | 176.8  | ohc         | six              | 121        | 21              | 20970.0 |

### Print the last 5 rows.

In [ ]:
cars.tail(5)

| index | company    | body-style | wheel-base | length | engine-type | num-of-cylinders | horsepower | average-mileage | price   |
| ----- | ---------- | ---------- | ---------- | ------ | ----------- | ---------------- | ---------- | --------------- | ------- |
| 56    | volkswagen | sedan      | 97.3       | 171.7  | ohc         | four             | 85         | 27              | 7975.0  |
| 57    | volkswagen | sedan      | 97.3       | 171.7  | ohc         | four             | 52         | 37              | 7995.0  |
| 58    | volkswagen | sedan      | 97.3       | 171.7  | ohc         | four             | 100        | 26              | 9995.0  |
| 59    | volvo      | sedan      | 104.3      | 188.8  | ohc         | four             | 114        | 23              | 12940.0 |
| 60    | volvo      | wagon      | 104.3      | 188.8  | ohc         | four             | 114        | 23              | 13415.0 |

### By using the info method, check how many non-null rows each column have.

In [ ]:
cars.info()

Kolumnen price har 3 saknade värden (nulls).

### If any column has a missing value, drop the entire row. Notice, the operation should be inplace meaning you change the dataframe itself.

In [ ]:
cars.dropna(inplace=True)
cars.info()

### Calculate the mean of each numeric column.

In [ ]:
cars_mean = cars.mean(numeric_only=True)
cars_mean

Resultat
index                 40.827586
wheel-base            98.620690
length               173.646552
horsepower           106.051724
average-mileage       25.534483
price              15387.000000

### Select the rows where the column "company" is equal to 'honda'.

In [ ]:
honda_cars = cars[cars["company"] == "honda"]
honda_cars

Resultat
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
18     27   honda      wagon        96.5   157.1         ohc             four   
19     28   honda      sedan        96.5   175.4         ohc             four   
20     29   honda      sedan        96.5   169.1         ohc             four   

    horsepower  average-mileage    price  
18          76               30   7295.0  
19         101               24  12945.0  
20         100               25  10345.0

### Sort the data set by price in descending order. This should *not* be an inplace operation.

In [ ]:
cars_sorted_by_price = cars.sort_values(by="price", ascending=False)
cars_sorted_by_price.head(10)

Resultat
    index        company   body-style  wheel-base  length engine-type  \
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv   
11     14            bmw        sedan       103.5   193.8         ohc   
34     46  mercedes-benz        sedan       120.9   208.1        ohcv   
46     62        porsche  convertible        89.5   168.9        ohcf   
12     15            bmw        sedan       110.0   197.0         ohc   
26     35         jaguar        sedan       102.0   191.7        ohcv   
25     34         jaguar        sedan       113.0   199.6        dohc   
45     61        porsche      hardtop        89.5   168.9        ohcf   
24     33         jaguar        sedan       113.0   199.6        dohc   
10     13            bmw        sedan       103.5   189.0         ohc   

   num-of-cylinders  horsepower  average-mileage    price  
35            eight         184               14  45400.0  
11              six         182               16  41315.0  
34            eight         184               14  40960.0  
46              six         207               17  37028.0  
12              six         182               15  36880.0  
26           twelve         262               13  36000.0  
25              six         176               15  35550.0  
45              six         207               17  34028.0  
24              six         176               15  32250.0  
10              six         182               16  30760.0

### Select the rows where the column "company" is equal to any of the values (audi, bmw, porsche).

In [ ]:
selected_companies = cars[cars["company"].isin(["audi", "bmw", "porsche"])]
selected_companies

Resultat
    index  company   body-style  wheel-base  length engine-type  \
3       3     audi        sedan        99.8   176.6         ohc   
4       4     audi        sedan        99.4   176.6         ohc   
5       5     audi        sedan        99.8   177.3         ohc   
6       6     audi        wagon       105.8   192.7         ohc   
7       9      bmw        sedan       101.2   176.8         ohc   
8      10      bmw        sedan       101.2   176.8         ohc   
9      11      bmw        sedan       101.2   176.8         ohc   
10     13      bmw        sedan       103.5   189.0         ohc   
11     14      bmw        sedan       103.5   193.8         ohc   
12     15      bmw        sedan       110.0   197.0         ohc   
45     61  porsche      hardtop        89.5   168.9        ohcf   
46     62  porsche  convertible        89.5   168.9        ohcf   

   num-of-cylinders  horsepower  average-mileage    price  
3              four         102               24  13950.0  
4              five         115               18  17450.0  
5              five         110               19  15250.0  
6              five         110               19  18920.0  
7              four         101               23  16430.0  
8              four         101               23  16925.0  
9               six         121               21  20970.0  
10              six         182               16  30760.0  
11              six         182               16  41315.0  
12              six         182               15  36880.0  
45              six         207               17  34028.0  
46              six         207               17  37028.0

### Find the number of cars (rows) for each company.

In [ ]:
cars_per_company = cars["company"].value_counts()
cars_per_company

Resultat
toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
jaguar           3
dodge            2
porsche          2
volvo            2
isuzu            1

### Find the maximum price for each company.

In [ ]:
max_price_per_company = cars.groupby("company")["price"].max()
max_price_per_company

Resultat
company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0